<h1>About Us</h1>
<p>
  World Student Alliance works closely with <a href="http://oips.unm.edu/">Office of International Programs and Studies</a>, is a student's organization to help new international students get started in a new place. We organize events which brings all the international students together, help them with new culture, new place and take them to places. Come join us! 
</p>

<br> 
Like us on Facebook and send us some feedback!
</br>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/groups/35125634856/" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="lucida grande"></div>

