<h1>Help</h1>
<p>
  We are here to help you! Sign up for our Listserv and get our latest news.</br>
  <a href="http://oips.unm.edu/http://oips.unm.edu/listserv.html">OIPS List Serv</a>.<br/><br/>
Still not satisfied to get in groove with us, sign up in here and get the latest new. Check in for the news tab and that is it you are totally in sync! <br/>
We are working hard to make this a better place for all the international students, this site is still under construction but do not worry, we will rock it once it is done!. :)<br/>
SO feel free to sign up. By signing up you will be able to meet all your friends from the same country you came from. Isn't that cool! so what are waiting for<a href='#'> Sign up!</a>
</p>
