<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", 'http://oips.unm.edu/' %></li>
      <li><%= link_to "Take me to UNM", 'http://www.unm.edu/' %></li>
    </ul>
  </nav>
</footer>